<div class="title">
  <h1>Privacy</h1>
  <hr />
</div>
<h2>Collected data</h2>
<p class="p2">
  When visiting
  <a href="/en|fr/home" class="router-link">www.festivaldesarts.merville31.fr</a>, no personal data
  are collected from regular visitors.
</p>
<p class="p2">
  Artists who wish to exhibit must create a personal account. In this context, personal data are
  collected: name, surname, email address, postal address, and phone number.
</p>
<p class="p2">
  The processing of these data is intended to manage registrations and/or promote artists on the
  website, solely with their consent. Data are retained only as long as necessary to provide the
  requested service.
</p>
<p class="p2">Data are never transferred or sold to third parties.</p>
<p class="p2">In accordance with the GDPR, you have the following rights:</p>
<ul>
  <li>The right to withdraw your consent at any time;</li>
  <li>The right to access, correct, or delete your data;</li>
  <li>The right to restrict or object to data processing.</li>
</ul>
<p class="p2">
  To exercise any of these rights, please contact the Data Protection Officer by email at:
</p>
<address class="a2">
  <p class="mail"><a href="mailto:rgpd@merville31.fr">rgpd@merville31.fr</a></p>
</address>

<h2>Cookies and connection data</h2>
<p class="p2">
  The website uses strictly necessary technical cookies to access the
  <strong>member area</strong>, while the <strong>public website requires none</strong>.
</p>
<p class="p2">
  In accordance with Article 82 of the French “Informatique et Libertés” law and the GDPR, these
  cookies do not require user consent.
</p>
<p class="p2">
  These cookies are not used for advertising or analytics purposes but solely to ensure secure and
  personalized navigation.
</p>
<p class="p2">In particular, the site stores, within a secure token (JSON Web Token):</p>
<ul>
  <li>The login identifier (user’s email address);</li>
  <li>The preferred browsing language.</li>
</ul>
<p class="p2">
  This information is stored in a cookie for the purposes of
  <strong>authentication and language personalization</strong>.
</p>
<p class="p2">
  The cookie is <strong>valid for 3 hours</strong>, after which it automatically expires.
</p>
<p class="p2">
  These data are neither sold nor shared nor used for any other purpose. No advertising or audience
  measurement cookies are placed.
</p>
<br />
<p class="p2">You may <strong>delete cookies at any time via your browser settings</strong>.</p>
