<div class="title">
  <h1>Confidentialité</h1>
  <hr />
</div>
<h2>Données collectées</h2>
<p class="p2">
  Lors de la consultation du site
  <a href="/en|fr/home" class="router-link">www.festivaldesarts.merville31.fr</a>, aucune donnée
  personnelle n'est collectée pour les simples visiteurs.
</p>
<p class="p2">
  Les artistes qui souhaitent exposer doivent créer un compte personnel. Des données personnelles
  sont alors collectées dans ce cadre : nom, prénom, adresse électronique, adresse postale, numéro
  de téléphone.
</p>
<p class="p2">
  Le traitement de ces données a pour finalité d'assurer le suivi des inscriptions et/ou la
  promotion des artistes sur le site internet, uniquement avec leur accord. Les données sont
  conservées le temps nécessaire à leur exploitation pour rendre le service sollicité.
</p>
<p class="p2">Ces données ne sont en aucun cas cédées à des tiers.</p>
<p class="p2">Conformément aux dispositions du RGPD, vous disposez :</p>
<ul>
  <li>du droit de retirer à tout moment votre consentement,</li>
  <li>d'un droit d'accès, de rectification ou d'effacement de vos données,</li>
  <li>d'un droit de limitation ou d'opposition au traitement qui en est fait.</li>
</ul>
<p class="p2">
  Si vous souhaitez exercer l'un de ces droits, merci de prendre contact par mail auprès du Délégué
  à la protection des données.
</p>
<address class="a2">
  <p class="mail"><a href="mailto:rgpd@merville31.fr">rgpd@merville31.fr</a></p>
</address>
<h2>Cookies et données de connexion</h2>
<p class="p2">
  Le site utilise des cookies techniques strictement nécessaires pour accéder à
  <strong>l'espace membre</strong> alors que le <strong>site public n'en requiert aucun</strong>.
</p>
<p class="p2">
  Conformément à l'article 82 de la loi « Informatique et Libertés » et au RGPD, ces cookies ne
  nécessitent pas le recueil du consentement de l'utilisateur.
</p>
<p class="p2">
  Ces cookies ne servent pas à des fins publicitaires ou statistiques, mais exclusivement à assurer
  la sécurité et la personnalisation de la navigation.
</p>
<p class="p2">En particulier, le site stocke sous forme de jeton sécurisé (JSON Web Token) :</p>
<ul>
  <li>l'identifiant de connexion (adresse e-mail de l'utilisateur),</li>
  <li>la langue préférée de navigation.</li>
</ul>
<p class="p2">
  Ces informations sont enregistrées dans un cookie à des fins
  <strong>d'authentification et de personnalisation linguistique</strong>.
</p>
<p class="p2">
  Le cookie est <strong>valide pendant 3 heures</strong>, après quoi il expire automatiquement.
</p>
<p class="p2">
  Ces données ne sont ni revendues, ni partagées, ni utilisées à d'autres fins. Aucun cookie
  publicitaire ou de mesure d'audience n'est déposé.
</p>
<br />
<p class="p2">
  Vous pouvez à tout moment
  <strong>supprimer les cookies via les paramètres de votre navigateur</strong>.
</p>
<p class="p2"></p>
<p class="p2"></p>
