<div class="title">
  <h1>Mentions Légales</h1>
  <hr />
</div>
<h2>Propriétaire du site</h2>
<p class="p2">
  Le site <a href="/public/home" class="router-link">www.festivaldesarts.merville31.fr</a> est la
  propriété de la Maire de Merville, en charge de l'organisation de cet événement.
</p>
<h3>Responsable de la publication</h3>
<p class="p3"><strong>Mairie de Merville</strong></p>
<address class="a3">
  <p class="house">Place du 11 Novembre-1918 - 31330 Merville</p>
  <p class="mail">
    <a href="mailto:festivaldesarts@merville31.fr">festivaldesarts@merville31.fr</a>
  </p>
  <p class="phone">0562134100</p>
</address>
<h3>Directeur de la publication</h3>
<p class="p3"><strong>Chantal AYGAT</strong></p>
<h2>Conception, développement et hébergement</h2>
<p class="p2">Le site a été conçu et développé par l'entreprise <strong>ht consultant</strong>.</p>
<address class="a2">
  <p class="house">4, impasse du Pigeonnier - 31330 Larra</p>
  <p class="mail"><a href="mailto:henri.talfumier@gmail.com">henri.talfumier@gmail.com</a></p>
  <p class="phone">0616096567</p>
</address>
<p class="p2">Le site est hébergé par la Société <strong>OVH</strong></p>
<address class="a2">
  <p class="house">2, rue Kellermann - 59100 Roubaix</p>
</address>
<h2>Droit d'auteur et propriété intellectuelle</h2>
<p class="p2">
  L''ensemble du site, notamment sa structure, son code source, ses éléments graphiques et
  techniques, sont protégés par le droit d'auteur.
</p>
<p class="p2">
  Sauf mention contraire, le développement, la conception et la maintenance du site ont été et sont
  réalisés par <strong>ht consultant</strong>, qui demeure titulaire des droits de propriété
  intellectuelle sur le code source et les éléments techniques du site.
</p>
<p class="p2">
  Toute reproduction, diffusion, modification ou utilisation du code source, totale ou partielle,
  sans autorisation écrite préalable de <strong>ht consultant</strong>, est strictement interdite.
</p>
<br />
<p class="p2">
  Les contenus rédactionnels, images et informations publiés sur le site demeurent la propriété de
  la Mairie de Merville, qui en assure la responsabilité éditoriale.
</p>
<p class="p2">
  Les œuvres présentées sont celles des artistes qui restent propriétaires des droits d'auteur. Les
  droits de représentation et de reproduction des œuvres présentes sur le site
  <a href="/public/home" class="router-link">www.festivaldesarts.merville31.fr</a> appartiennent à
  leurs auteurs. Il est nécessaire d'avoir leur autorisation pour toute exploitation de ces droits.
</p>
<p class="p2">
  Pour toute demande relative à une éventuelle utilisation de certains éléments de ce site, merci de
  contacter la Mairie de Merville à l'adresse suivante:
</p>
<p class="p2 mail">
  <a href="mailto:festivaldesarts@merville31.fr">festivaldesarts@merville31.fr</a>
</p>
<h2>Droit à l'image</h2>
<p class="p2">
  Conformément aux dispositions relevant du droit à l'image, toute personne (non publique)
  apparaissant sur une photographie et n'ayant pas autorisé sa diffusion sur le site de la commune
  peut solliciter son retrait sur simple demande à
  <a href="mailto:festivaldesarts@merville31.fr">festivaldesarts@merville31.fr</a>
</p>
<h2>Liens hypertextes</h2>
<p class="p2">
  Des liens hypertextes sont présents sur le site
  <a href="/public/home" class="router-link">www.festivaldesarts.merville31.fr</a> pour permettre
  aux utilisateurs d'accéder à des sites internet externes, notamment ceux des artistes, sur
  lesquels la Mairie de Merville ne dispose d'aucun contrôle. Elle ne saurait donc être tenue pour
  responsable de quelque dommage que ce soit résultant du contenu de ces sites ou sources externes.
</p>
<h2 id="cgu">Conditions Générales d'Utilisation (CGU)</h2>
<h3>Accès au site</h3>
<p class="p3">
  L'accès au site
  <a href="/public/home" class="router-link">www.festivaldesarts.merville31.fr</a> est gratuit et
  ouvert à tous, sans contrôle d'identité ; ni identification. Seuls les artistes, invités
  d'honneur, membres du jury et les organisateurs pourront disposer d'un compte privatif pour gérer
  leurs inscriptions aux expositions. Voir politique de confidentialité en suivant ce lien :
  <a href="/public/privacy" class="router-link">confidentialité</a>.
</p>
<p class="p3">
  La Mairie ne pourra être tenu responsable en cas de défaillance technique ou d'indisponibilité du
  Site, quelle qu'en soit la durée.
</p>
<h3>Contenus publiés</h3>
<p class="p3">
  Le site <a href="/public/home" class="router-link">www.festivaldesarts.merville31.fr</a> a pour
  objectif de présenter les expositions passées et à venir dans le cadre du Festival des Arts
  organisés chaque année à Merville.
</p>
<p class="p3">
  Les données publiées sont fournies à titre d'information uniquement et n'ont aucun caractère
  légal. La Mairie décline toute responsabilité pour les dommages pouvant résulter de l'utilisation
  ou de l'interprétation des informations publiées.
</p>
